@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');


#title {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 10px 25px;
	background: rgba(255, 255, 255, 0.035);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.15);
	-webkit-border-bottom-left-radius: 50px;
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 50px;
	max-width: 1000px;
	//margin: auto;

	margin-inline: auto;
	margin-block-start: 25vh;
	//transform: translateY(-40%);

	& p {
		font-family: "Unbounded", sans-serif;
		font-weight: 300;
		font-size: 18px;
		color: whitesmoke;
		/*line-height: 1.3;*/
	}

	& p a {
		font-family: "Unbounded", sans-serif;
		font-weight: 400;
		font-size: 18px;
	}

	& h1 {
		font-family: "Popins", sans-serif;
		text-transform: uppercase;
		font-size: 80px;
		font-style: normal;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #fff;
		line-height: 1.1;
	}
}

.blur_one {
	position: absolute;
    box-shadow: 0 0 1800px 100px #1d4ed8;
    z-index: -100;
	top: 22%;
	left: 15%;
}

.blur_second {
	position: absolute;
    box-shadow: 0 0 1800px 110px var(--light-red);
    z-index: -100;
	top: 50%;
	right: 20%;
}

#langs {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	gap: 10px;
	transition: all 0.7s;

	& img {
		transition: all 0.3s;
	}

	& img:hover {
		transform: scale(1.07);
	}
}

#buttons {
	margin-top: 12px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	& a:hover /*a:not(:hover)*/ {
		transform: scale(1.05);
	}
}

#github-btn {
	font-size: 15px;
	color: rgb(255, 255, 255);
	padding: 7px 20px;
	border-radius: 10px;
	transition: all 0.4s;
	border: 2px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	&:hover {
		color: white;
		transform: scale(1.05);
		background-color: rgba(255, 255, 255, 0.3);
	}
}
#github-btn svg g g g path {
	fill: rgb(255, 255, 255);
	transition: var(--default-transition);
}
#github-btn:hover svg g g g path {
	fill: white;
	margin-right: 100%;
}

#modrinth-btn {
	font-size: 15px;
	color: rgb(41, 229, 116);
	padding: 7px 20px;
	border-radius: 10px;
	transition: all 0.4s;
	border: 2px solid rgb(41, 229, 116);
	background-color: rgba(41, 229, 116, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	&:hover {
		color: white;
		transform: scale(1.05);
		background-color: rgba(41, 229, 116, 0.3);
	}
}

#stack-overflow-btn {
	font-size: 15px;
	color: rgb(0, 119, 206);
	padding: 10px 20px;
	border-radius: 10px;
	transition: all 0.4s;
	border: 2px solid rgb(0, 119, 206);
	background-color: rgba(0, 119, 206, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;

	&:hover {
		color: white;
		transform: scale(1.05);
		background-color: rgba(0, 119, 206, 0.3);
	}
}

#stack-overflow-btn:hover * {
	fill: white;
}
#stack-overflow-btn svg path {
	fill: rgb(0, 119, 206);
	transition: var(--default-transition);
}

#boosty-btn {
	font-size: 15px;
	color: rgb(245, 110, 65);
	padding: 7px 20px;
	border-radius: 5px;
	transition: all 0.4s;
	border: 2px solid rgb(245, 110, 65);
	background-color: rgba(245, 110, 65, 0.15);
	max-width: 200px;
	max-height: 45px;
	display: flex;
    align-items: center;
    justify-content: center;
	gap: 4px;

	&:hover {
		color: white;
		transform: scale(1.05);
		background-color: rgba(245, 110, 65, 0.3);
	}
}

@media (max-width: 767px) {
	#title {
		margin-left: 2%;
		margin-right: 2%;

		& h1 {
			font-size: 60px;
		}
	}
}

@media (max-width: 575px) {
	#title {
		margin-block-start: 8vh;
		margin-left: 2%;
		margin-right: 2%;

		& h1 { font-size: 40px; }

		& p {
			font-size: 18px;
			color: whitesmoke;

			& a { font-size: 16px; }
		}
	}

	#langs {
		gap: 6px;

		& img {
			width: 46px;
			height: 46px;
		}
	}

	#boosty-btn {
		font-size: 13px;
		padding: 7px 10px;
		gap: 2px;

		& .material-symbols-outlined { font-size: 21px; }
	}

	#modrinth-btn {
		font-size: 13px;
		padding: 7px 10px;
		gap: 2px;

		& .material-symbols-outlined { font-size: 21px; }
	}

	#stack-overflow-btn {
		font-size: 13px;
		padding: 7px 10px;
		gap: 3px;
	}

	#github-btn {
		font-size: 13px;
		padding: 7px 10px;
		gap: 3px;
	}
}
