.desc-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 5px 10px;

    & h1 {
        font-family: "Popins", sans-serif;
		/*text-transform: uppercase;*/
		font-size: 70px;
		font-style: normal;
		-webkit-text-fill-color: rgba(255, 0, 0, 0.1);
		-webkit-text-stroke: 1px #fff;

        display: flex;
        justify-content: center;
        color: white;
        margin-top: 0.5%;
    }

    & h2 {
        color: white;
        margin-top: 50px;
        font-size: 30px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    & p {
        color: white;
        margin-top: 1%;
        font-size: 18px;
    }

    & .img-desc {
        margin-top: 0%;
        margin-bottom: 1%;
        font-size: 16px;
    }
}

.images {
    margin-top: 1%;

    & img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    & .img-desc {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}

.other-img {
    margin-top: 1%;
    gap: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.fact {
    display: block;
    border: 1px solid rgba(30, 53, 105, 0.8);
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 10px;

    & h3 {
        color: white;
    }

    & p {
        color: white;
    }
}

.lore {
    display: block;
    border: 1px solid rgba(98, 55, 28, 0.8);
    border-radius: 15px;
    background: rgba(80, 46, 26, 0.3);
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px 10px;

    & h3 {
        color: white;
        font-style: italic
    }

    & p {
        color: white;
        font-style: italic
    }
}

/*.img-desc {*/
/*    background: rgba(0, 0, 0, 0.3);*/
/*    border: 1px solid rgba(192, 190, 190, 0.5);*/
/*    border-radius: 10px;*/
/*}*/
