#market-title {
  margin-top: 2%;
  margin-bottom: 4%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
#market-title h2 {
  color: white;
  position: absolute;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 10px;
  padding: 5px 7px;
}
#market-title h2 a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.7s;
}
#market-title h2 a:hover {
  cursor: pointer;
  color: var(--pale-red);
}
#market-title .material-symbols-outlined {
  position: relative;
  top: 5px;
  right: -2px;
}

/*#market-title h2 a {*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    font-weight: bold;*/
/*    text-decoration: underline;*/
/*    transition: all 0.7s;*/
/*    &:hover {*/
/*        cursor: pointer;*/
/*        color: #5a13e5;*/
/*    }*/
/*}*/
/*#market-title .material-symbols-outlined {*/
/*    position: relative;*/
/*    top: 5px;*/
/*    right: -2px;*/
/*}*/
/* ctrl+c ctrl+v from portfolio.css */
.cards {
  z-index: 222;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 35px;
  /*margin-bottom: 8%;*/
}

.card {
  position: relative;
  width: 335px;
  background-color: rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
  transition: all 0.7s;
}
.card:hover {
  transform: scale(1.03);
  border: 1px solid white;
}
.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
}
.card-content h1 {
  font-size: 23px;
  margin-bottom: 10px;
  color: white;
}
.card-content p {
  font-size: 16px;
  color: white;
  margin-bottom: 20px;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card-button {
  background-color: transparent;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.8);
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 16px;
}
.card-button:hover {
  background-color: #fff;
  color: #000;
}

.lang-stack-icon {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px 10px;
}
.lang-stack-icon:hover {
  background-color: #fff;
  color: #000;
}

.material-symbols-outlined {
  margin-top: 4px;
}

.lang-stack-icon .lang-stack-menu {
  position: absolute;
  bottom: -10%;
  /*width: 150px;*/
  right: -8%;
  border: 1px solid white;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  padding: 5px 1px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease 0s;
}

.lang-stack-icon:hover .lang-stack-menu {
  opacity: 1;
  pointer-events: auto;
}

.lang-stack-icon .ssbot-lang-stack {
  bottom: 5%;
  right: -14%;
}

.lang {
  padding: 2px 7px;
  list-style-type: none;
}
.lang:hover {
  border-radius: 10px;
}

.python {
  color: white;
}
.python:hover {
  background: rgb(53, 114, 165);
}

.html {
  color: white;
}
.html:hover {
  background: rgb(227, 76, 38);
}

.css {
  color: white;
}
.css:hover {
  background: rgb(86, 61, 124);
}

.javascript {
  color: white;
}
.javascript:hover {
  background: rgb(241, 224, 90);
}

@media (max-width: 800px) {
  #market-title {
    padding: 0 0 60px 15px;
  }
}

/*# sourceMappingURL=market.css.map */
