@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

.cards {
    z-index: 222;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 3%;
    margin-bottom: 8%;
}

.card {
    width: 400px;
    height: auto;
    background: transparent;
	border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3);
    transition: all 0.7s;

    &:hover {
        transform: scale(1.03);
        border: 1px solid rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 17px rgba(255, 255, 255, 0.3);

        .card-content img {
            box-shadow: 0px 0px 35px rgba(255, 255, 255, 0.3);
        }
    }
}

.card-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    min-height: 100%;
    position: relative;

    & img {
        width: 95%;
        height: 60%;
        object-fit: cover;
        border-radius: 15px;
        margin-top: 15px;
        margin-left: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transition: all 0.7s;
    }

    & h1 {
        font-family: "Unbounded", sans-serif;
        font-size: 20px;
        margin-bottom: 7px;
        margin-top: 5px;
        color: white;
    }

    & p {
        font-size: 16px;
        color: rgb(255, 255, 255);
        margin-bottom: 70px;
    }

    & .card-button {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.5);
        text-decoration: none;
        border-radius: 5px;
        padding: 8px 16px;
        display: flex;
        justify-content: center;
        position: absolute;
        margin-bottom: 10px;
        left: 15px;
        right: 15px;
        bottom: 0;

        &:hover {
            color: #000;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
        }
    }
}

@media (max-width: 900px) {
    .card { width: 300px; }
}




